@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v Úkolníčku</h1>
    <br /> <br />
    <h3>Tato aplikace za vás s radostí bude uchovávat seznam vašich úkolů.</h3>
</div>
