@model Ukolnicek.Models.Ukol

<form method="post" asp-action="Create">
    <div class="row pb-4">
        <div class="col-12 text-center">
            <h2 class="text-info pl-3 display-4">Nový úkol</h2>
        </div>          
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group">
                            <label asp-for="NazevUkolu"></label>
                            <input asp-for="NazevUkolu" class="form-control" />
                            <span asp-validation-for="NazevUkolu"></span>
                        </div> 
        </div>
        <div class="col-6">
                        <div class="form-group">
                            <label asp-for="DruhPrace"></label>
                            <select class="form-select w-100" aria-label="Default select example" asp-for=DruhPrace style="height:38px;">
                                <option value="Kódování">Kódování</option>
                                <option value="Programování">Programování</option>
                                <option value="Meetingy">Meetingy</option>
                                <option value="Školení">Školení</option>
                            </select>
                            <span asp-validation-for="DruhPrace"></span>
                        </div>                       
                    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CasDo"></label>
                            <input asp-for="CasDo" class="form-control" />
                            <span asp-validation-for="CasDo"></span>
                        </div>                       
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CasOd"></label>
                            <input asp-for="CasOd" class="form-control" />
                            <span asp-validation-for="CasOd"></span>
                        </div> 
                        </div>
    </div>
    <div class="row pt-4">
        <div class="col text-center">
            <input type="submit" class="btn btn-success btn-lg" value="Vytvořit" />
            <a asp-action="Index" class="btn btn-danger btn-lg">Zpět</a>
        </div>
    </div>
</form>